:root {
    --bg-color-light: #f2f2f2;
    --text-color-light: #000000;
    --bg-color-dark: #211c1c;
    --text-color-dark: #f8f8f8;
  }
  
  /* General Styles */
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .navbar {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
    box-shadow: 0 8px 12px rgba(160, 160, 160, 0.764);
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .navbar-title {
    font-size: 1.5rem;
  }
  
  .dark-mode-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .dark-mode-btn:hover {
    transform: scale(1.1);
  }
  
  /* Dark Mode Styles */
  body.dark-mode {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
  }
  
  body.dark-mode .navbar {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .navbar {
      padding: 0.8rem 1rem;
    }
  
    .navbar-title {
      font-size: 1.25rem;
    }
  
    .dark-mode-btn {
      font-size: 1.2rem;
    }
  }
  